<!DOCTYPE html>
<html lang="en">



<body>
  <h1>Ejemplo de view engine EJS</h1>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas culpa reprehenderit assumenda veniam, iusto ducimus modi. Delectus a earum assumenda architecto quis repellat obcaecati aut nam laudantium. Deleniti, animi voluptates.</div>
  
  <div>
 
      
    
   
  </div>

 
</body>
</html>